<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kategorie zamestnancu</title>
</head>
<body>
<h1>Prehled kategorii zamestnancu</h1>

<table class="table-list">
    <thead>
    <th>Kategorie</th>
    <th>Id</th>

    </thead>
    <tbody>

    <tr th:each="source : ${employees_category}">

        <td><span th:text="${source.getKategorie()}">Kategorie</span></td>
        <td><span th:text="${source.getKategoriezamestnancuid()}"> Id </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>
