<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Hello !</h1>
<p>Welcome to BAMIS app</p>
<ul>
    <li>
        <a href="/packages">Packages</a>
    </li>
    <li>
        <a href="/customer">Customer</a>
    </li>
    <li>
        <a href="/employee">Employee</a>
    </li>
    <li>
        <a href="/location">Location</a>
    </li>
    <li>
        <a href="/region">Region</a>
    </li>
    <li>
        <a href="/ride">Ride</a>
    </li>
    <li>
        <a href="/status">Status</a>
    </li>
    <li>
        <a href="/vehicle">Vehicle</a>
    </li>
    <li>
        <a href="/track">Track</a>
    </li>
</ul>

</body>
</html>
