<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Location Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bamis Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/employee">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/location">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/region">Region</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/ride">Ride</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/status">Status</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/vehicle">Vehicle</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/track">Track</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Seznam vsech lokaci v databazi</h1>
<table class="table">
    <thead class="thead-dark">
    <th>Adresa</th>
    <th>Nazev</th>
    <th>Region</th>

    </thead>
    <tbody>

    <tr th:each="source : ${locations}">

        <td><span th:text="${source.getAdresa()}">Adresa</span></td>
        <td><span th:text="${source.getNazev()}"> Nazev </span></td>
        <td><span th:text="${source.getRegionid().getRegion()}"> Region </span></td>

    </tr>
    </tbody>
</table>

<div class="container">
    <form th:method="post" th:action="@{/location}" th:object="${location}">
        <div class="form-group">
            <label>Adresa</label>
            <input type="text" class="form-control" name="adresa" required>
        </div>
        <div class="form-group">
            <label>Nazev</label>
            <input type="text" class="form-control" name="nazev" required>
        </div>
        <div class="form-group">
            <label>Region</label>
            <select class="form-control" name="regionid" required>
                <option value="">Vyberte si prosim...</option>
                <option th:each="source : ${regiony}"
                        th:value="${source.getRegionid()}"
                        th:text="${source.getRegion()}"></option>
            </select>
        </div>
        <input type="submit" value="Přidat novou lokaci">
    </form>
</div>

</body>
</html>
