<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Seznam balicku</title>
</head>
<body>
<style>
    tr:hover{
        background: aliceblue;
    }
</style>

<h1>Seznam veskerych zasilek</h1>

<table class="table-list">
    <thead>
    <th>Vaha</th>
    <th>Kategorie</th>
    <th>Sklad</th>
    <th>Zakaznik</th>

    </thead>
    <tbody>

    <tr th:each="source : ${zasilky}" style="cursor: pointer" th:onclick="'javascript:rowClicked(\'' + ${source.getZasilkaId()} + '\');'">

            <td><span th:text="${source.getVaha()}">Vaha</span></td>
            <td><span th:text="${source.getKategoriezasilkyId().getKategorie()}"> Kategorie </span></td>
            <td><span th:text="${source.getSkladId().getAdresa()}"> Sklad </span></td>
            <td><span th:text="${source.getZakaznikId().getJmeno()} + ' ' +  ${source.getZakaznikId().getPrijmeni()}"> Zakaznik </span></td>

    </tr>
    </tbody>
</table>

<p><a href="/packages/packages_category">kategorie zasilek link</a></p>

<script>
    function rowClicked(value) {
        location.href = "/packages/" + value;
    }
</script>
</body>
</html>
