<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Detail zaislky</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bamis Application</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/packages">Packages</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="/customer">Customer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/employee">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/location">Location</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/region">Region</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/ride">Ride</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/status">Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/store">Stores</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="/vehicle">Vehicle</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="/track">Track</a>
        </li>
    </ul>
</div>
</nav>

<h1>Info</h1>
<a class="btn btn-dark" href="/packages"> Zpět</a>
<table class="table">
    <thead class="thead-dark">
    <th>Jmeno zakaznika</th>
    <th>Prijmeni zakaznika</th>
    <th>Telefon zakaznika</th>
    <th>Vaha zasilky</th>


    </thead>
    <tbody>

    <tr th:each="source : ${packageDetails}">
		<td><span th:text="${source.getJmeno()}"> Jmeno </span></td>
		<td><span th:text="${source.getPrijmeni()}"> Prijmeni </span></td>
		<td><span th:text="${source.getTelefon()}"> Telefon </span></td>
		<td><span th:text="${source.getVaha()}"> Vaha zasilky </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>
