<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Update zamestnance</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bamis Application</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/employee">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/location">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/region">Region</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/ride">Ride</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/status">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/store">Stores</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/vehicle">Vehicle</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/track">Track</a>
            </li>
        </ul>
    </div>
</nav>

<h1>Update stavu</h1>
<a class="btn btn-dark"href="javascript:history.back()"> Zpět</a>


<div class="container">
    <form th:method="post" th:action="@{/status/{id}/update(id=${status.getStavid()})}" th:object="${status}">
        <div class="form-group">
            <label>Datum</label>
            <input type="text" th:field="*{datum}" class="form-control" name="datum" required>
        </div>

        <div class="form-group">
            <label>Stav</label>
            <select class="form-control" name="kategoriestavu" required>
                <option value="">Vyberte si prosim...</option>
                <option th:each="source : ${stavy}"
                        th:value="${source.getKategoriestavu()}"
                        th:field="*{kategoriestavu}"
                        th:text="${source.getStav()}"></option>
            </select>
        </div>

        <input class="btn btn-primary" type="submit" value="Update Stavu">
    </form>

</body>
</html>
