<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Status Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bamis Application</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/packages">Packages</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="/customer">Customer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/employee">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/location">Location</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/region">Region</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/ride">Ride</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/status">Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/store">Stores</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="/vehicle">Vehicle</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="/track">Track</a>
        </li>
    </ul>
</div>
</nav>
<h1>Přehled logů zásilek</h1>
<span><a class="btn btn-dark" href="/status/status_category"> Kategorie statusů</a></span>

<table class="table">
    <thead class="thead-dark">
    <th>Zasilka Id</th>
    <th>Zamestnanec</th>
    <th>stav id</th>
    <th>jizda id</th>
    <th>datum</th>
    <th>Lokace</th>
    <th>Stav</th>

    </thead>
    <tbody>

    <tr th:each="source : ${state}">
        <td><span th:text="${source.getZasilkaid().getZasilkaId()}">Zasilka Id</span></td>
        <td><span th:text="${source.getZamestnanecid().getPrijmeni()}">Zamestnanec</span></td>
        <td><span th:text="${source.getStavid()}"> Stav id </span></td>
        <td><span th:text="${source.getJizdaid().getJizdaid()}"> Jizda id </span></td>
        <td><span th:text="${source.getDatum().toString()}"> Datum </span></td>
        <td><span th:text="${source.getLokaceid().getNazev()}"> Lokace </span></td>
        <td><span th:text="${source.getKategoriestavu().getStav()}"> Stav </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>
