<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Track Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bamis Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/employee">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/location">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/region">Region</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/ride">Ride</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/status">Status</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/vehicle">Vehicle</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/track">Track</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Seznam cest</h1>
<table class="table">
    <thead class="thead-dark">
    <th scope="col">Trasa Id</th>
    <th scope="col">Lokace Id</th>
    <th scope="col">Vozidla Id</th>

    </thead>
    <tbody>

    <tr th:each="source : ${trackes}">

        <td><span th:text="${source.getTrasaid()}">Trasa Id</span></td>
        <td>
            <div th:each="lokace:${source.getLokaceid()}">
                <span th:text="${lokace.getNazev()}">Lokace Id</span>
            </div>
        </td>
        <td><span th:text="${source.getVozidlaid().getVozidlaid()}"> Vozidla Id </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>
