<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Page</title>
</head>
<body>
<h1>Seznam vsech vozidel</h1>
<table class="table-list">
    <thead>
    <th>Vozidlo Id</th>
    <th>Najeto</th>
    <th>Nalozenost</th>
    <th>Spz</th>

    </thead>
    <tbody>

    <tr th:each="source : ${vehicles}">

        <td><span th:text="${source.getVozidlaid()}">Vozidlo Id</span></td>
        <td><span th:text="${source.getNajetekm()}"> Najeto </span></td>
        <td><span th:text="${source.getNalozenost()}"> Nalozenost </span></td>
        <td><span th:text="${source.getSpz()}"> Spz </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>
