<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:zas="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Vehicle Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bamis Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/employee">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/location">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/region">Region</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/ride">Ride</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/status">Status</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/vehicle">Vehicle</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="/track">Track</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Seznam vsech vozidel</h1>
<a class="btn btn-dark" href="/loadedVehicle"> Naložená vozidla</a>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Vozidlo Id</th>
        <th scope="col">Najeto</th>
        <th scope="col">Nalozenost</th>
        <th scope="col">Spz</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="source : ${vehicles}">

        <td><span th:text="${source.getVozidlaid()}">Vozidlo Id</span></td>
        <td><span th:text="${source.getNajetekm()}"> Najeto </span></td>
        <td><span th:text="${source.getNalozenost()}"> Nalozenost </span></td>
        <td><span th:text="${source.getSpz()}"> Spz </span></td>

    </tr>
    </tbody>
</table>


<div class="container">
    <form th:method="post" th:action="@{/vehicle}" th:object="${vehicle}">
        <div class="form-group">
            <label>Najeto</label>
            <input type="number" class="form-control" name="najetekm" required min="0">
        </div>
        <div class="form-group">
            <label>Nalozenost</label>
            <select class="form-control" name="nalozenost" required>
                <option value="">Vyberte si prosim...</option>
                <option name="nalozenost">0</option>
                <option name="nalozenost">1</option>
            </select>
        </div>
        <div class="form-group">
            <label>Spz</label>
            <input type="text" class="form-control" name="spz" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Pridat vozidlo">
    </form>
</div>

</body>
</html>
